.fade {
  transition: opacity 1s ease-in-out;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  #Image-Flexing {
    display: flex;
    flex-direction: row;      /* Ensure images are in a row */
    justify-content: center;  /* Center images within the container */
    align-items: center;
    gap: 1rem;                /* Add some space between the images */
    width: 100%;
    height: auto;
    flex-wrap: nowrap;        /* Prevent wrapping to keep all images in one line */
  }

  /* Ensure images are of equal size */
  #Image-Flexing div {
    width: 30%;               /* Each image takes 30% of the container width */
    min-width: 100px;         /* Set a minimum width for images */
    max-width: 100px;         /* Set a maximum width for images */
  }

  #Image-Flexing img {
    width: 100%;              /* Make images responsive and occupy their container */
    height: auto;             /* Maintain aspect ratio */
    object-fit: cover;        /* Ensure the images are cropped neatly */
    border-radius: 50%;       /* Keep the circular shape */
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite linear;
}

