@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Maharlika';
  src: url('../src/fonts/Maharlika-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HkGrotesk';
  src: url('../src/fonts/HKGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}